{% extends 'base.html.twig' %}

{% block title %}Notice{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('/css/infojeux.css') }}">
{% endblock %}


{% block body %}


    <div class="notice">
        <h1>Comment jouer</h1>
        <br>
        <div class="infos">
            <h3>Cyber traque...</h3>
            <br>
            <p>
                Dark Cipher est un hacker de renomée mondiale!
                Il va falloir le retrouver et l'empecher de détruire internet!
                Pour cela, il vous faudra résoudre quelques énigmes (parfois simples et parfois plus complexes) en utilisant vos compétences de hacker.
                <br>
                Répondez aux questions, faites vos recherches et utilisez tous les moyens en ligne pour trouver et 
                interompre Dark Cipher dans son projet!
            </p>

        </div>
         <a href="{{ path('app_jeux') }}" class="btn btn-primary ms-2">Jouer...</a>
    </div>






{% endblock %}
